{% load staticfiles %}
<!Doctype HTML>
<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Photel blog</title>
        {% endif %}
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/map.css' %}">
        <script>
            // function geoMyLocation() {
            //     if (navigator.geolocation) {
            //         console.log('huray');
            //         navigator.geolocation.getCurrentPosition(success, error, geoOptions);
            //     } else {
            //         alert('no geolocation on your browser');
            //     }
            // }

            // function success(position) {
            //     var lati = position.coords.latitude;
            //     var longi = position.coords.longitude;
            //     var altitude = position.coords.altitude;
            //     var accuracy = position.coords.accuracy;
            //     alert("lat: " + lati + " longi: " + longi);
            // }

            // function error(error){
            //     alert('unable to retrieve location due to: ' + error.code + ": " + error.message);
            // }
            
            // var geoOptions = {
            //     enableHighAccuracy: true,
            //     maximumAge: 30000,
            //     timeout: 27000
            // };
        </script>
    </head>
    <body>
        <div id='header'>
            <h1><a href="/">Map of the Philippine Islands of the Philippine Islands of the Philippine Islands' Map </a></h1>
        </div>
        {% block content %}
        {% endblock %}
        <div id="footer">
            paa
        </div>
    </body>
</html>